.header {
  padding-left: 20px;
  padding-right: 20px;
}
.header__content {
  max-width: 880px;
  max-height: 74px;
  border-bottom: 1px solid #545454;
  margin: 45px auto 0;
}
.header__image {
  width: 173px;
  height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 637px) {
  .header__image {
    width: 126px;
    height: 24px;
    margin-bottom: 32px;
  }
  .header__content {
    max-height: 56px;
  }
}
