.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.modal_opened {
  display: flex;
  z-index: 1;
}

.modal__container {
  display: flex;
  position: relative;
  margin: auto;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 10px;
  width: 430px;
  height: 330px;
}
.modal__exit-button {
  position: absolute;
  right: -45px;
  top: -45px;
  background-image: url(../images/close_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s linear;
}
.modal__exit-button:hover {
  opacity: 60%;
}
.modal__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 36px 36px 24px;
}

.modal__input {
  margin: 30px 36px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  height: 27px;
}
.modal__save-button {
  height: 50px;
  background-color: #000;
  color: #fff;
  margin: 48px 36px 36px;
  border-radius: 2px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: opacity 0.5s linear;
}
.modal__save-button:hover {
  opacity: 80%;
}

@media screen and (max-width: 637px) {
  .modal__container {
    width: 282px;
    height: 322px;
  }
  .modal__exit-button {
    width: 26px;
    height: 26px;
    right: 0;
    top: -39px;
  }
  .modal__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 45px;
  }
  .modal__input {
    margin: 30px 22px 0;
  }

  .modal__save-button {
    margin: 45px 22px 25px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
