.modal {
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  transition: visibility 0s ease-out 0.3s, opacity 0.3s ease-out;
}
.modal_opened {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transition: visibility 0s, opacity 0.3s ease-in;
}

.modal__container {
  display: flex;
  position: relative;
  margin: auto;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 10px;
  width: 430px;
  height: 330px;
}
.modal__exit-button {
  position: absolute;
  right: -45px;
  top: -45px;
  background-image: url(../images/close_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s linear;
}
.modal__exit-button:hover {
  opacity: 60%;
}
.modal__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 36px 36px 24px;
}
.modal__lable {
  position: relative;
  display: flex;
}
.modal__input {
  margin: 30px 36px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  height: 27px;
  width: 100%;
}

.modal__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.modal__error {
  position: absolute;
  top: 100%;
  margin: 5px 36px 0;
  color: #ff0000;
  font-size: 12px;
  line-height: 14px;
  opacity: 0;
}
.modal__error_visible {
  opacity: 1;
}

.modal__button {
  height: 50px;
  background-color: #000;
  color: #fff;
  margin: 48px 36px 36px;
  border-radius: 2px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.modal__button_disabled {
  height: 50px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.2);
  margin: 48px 36px 36px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.modal__button:hover {
  opacity: 80%;
}

.modal__preview {
  display: flex;
  margin: auto;
  position: relative;
}
.modal__figure {
  margin: 0;
}
.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}
.modal__figcaption {
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
}

@media screen and (max-width: 637px) {
  .modal__container {
    width: 282px;
    height: 322px;
  }
  .modal__exit-button {
    width: 26px;
    height: 26px;
    right: 0;
    top: -39px;
  }
  .modal__exit-button_preview {
    width: 30px;
    height: 30px;
    top: -33px;
    right: -33px;
  }
  .modal__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 45px;
  }
  .modal__input {
    margin: 30px 22px 0;
  }
  .modal__error {
    margin-left: 22px;
  }
  .modal__button {
    margin: 45px 22px 25px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
  .modal__button_disabled {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
