.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  padding: 0;
  justify-content: center;
  column-gap: 17px;
  row-gap: 20px;
  list-style-type: none;
  margin: 0 auto;
  max-width: 880px;
}
